


body{
    background-color:rgb(230, 230, 230);
}





.some{
    width: 800px;
  
    margin: 50px;
    
  

    padding-left: 50px;
	border: 1px solid #333;
    border-color:rgb(180, 180, 180) ;
    background-color:rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    border-top:none;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
   
    font-size: 18px;
    
}

.someyanıt{
    width: 800px;
  
    margin: 50px;
    margin-left: 102px;
    
  
    
    padding-left: 50px;
	border: 1px solid #333;
    border-color:rgb(180, 180, 180) ;
    background-color:rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    border-top:none;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
   
    font-size: 18px;
}



.box1{
    position: relative;
    top: 30px;
    bottom: 10px;
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 600px;
    background-color: rgb(255, 125, 19);
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);


    
    

}



.somepage{
    width: 800px;
  
    margin: 50px;
    
  

    padding-left: 50px;
    padding-right: 50px;
	border: 1px solid #333;
    border-color:rgb(180, 180, 180) ;
    background-color:rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    border-top:none;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
   
    font-size: 18px;
    
}

.boxpage{
    margin-top: 50px;
    margin-left: 100px;
    width: 600px;
    background-color: rgb(255, 125, 19);
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
    

}


.somecom{
    width: 800px;
  
    margin: 50px;
    
  

    padding-left: 50px;
    padding-right: 50px;
	border: 1px solid #333;
    border-color:rgb(180, 180, 180) ;
    background-color:rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    border-top:none;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
   
    font-size: 18px;
    
}

.boxcom{
    margin-left: 150px;
    width: 600px;
    background-color: rgb(3, 15, 70);
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(187, 187, 187);
    

}


.yorumkutu{
   
    border-radius: 10px;
    border-color: rgb(159, 159, 202);
}
    
.yorumkutu:hover{
    -webkit-transition-duration: 300ms;
    background-color: rgb(243, 243, 243);
} 
    
.yanıtbuton{
    background-color:rgb(255, 255, 255);
    border:none;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 0;
    left: 650px;
    background-color: rgb(201, 201, 201);

}

.yanıtbuton:hover{
    cursor:pointer;
    background-color: rgb(193, 193, 255);
    -webkit-transition-duration: 300ms;
}
    


.link{
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    
    
    
}

.ul{
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li{
    float: left;
}

/*
.link2{
    color: inherit;
    text-decoration: none;
    position: relative;
    left: 550px;
    
}

.link3{
    color: inherit;
    text-decoration: none;
    
    left: 600px;
}

*/


#box2{
    bottom: 50px;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    
    
}

#box3{
    color:rgb(255, 0, 0);
    margin-bottom: 0px;
   
}

#baslik{
    width: 600px;
    overflow: hidden; /* taşacak kısımları gizle. */
    white-space:pre; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis; /* uzunsa sonuna üç nokta koy. */ 
    margin-top: 15px;
    margin-bottom: 0px;
    color: inherit;
    text-decoration: none;
    
}   

#soruyer{
    margin-top: 15px;
    width: 700px; 
    overflow: hidden; /* taşacak kısımları gizle. */
    white-space:pre; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis; /* uzunsa sonuna üç nokta koy. */ 
    color: inherit;
    text-decoration: none;
}

#soruyer2{
    margin-top: 15px;
    width: 700px; 

    
    
    color: inherit;
    text-decoration: none;

}







.csskod:hover{
    background-color:rgb(229, 219, 248) ;

}

a:link{
    text-decoration: none;
    color: inherit;
    
    
}


.new{
    flex-direction: column;
}

#ust{
    position:absolute;
    margin-left: 700px;
    margin-top: 15px;
}


.yorumcss{
    border: solid 2px rgb(156, 156, 156);
    width: 700px;
    height: 110px;
    background-color: rgb(245, 255, 252);
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
}

.datecss{
    position: relative;
    bottom: 27px;
    color: inherit;
    text-decoration: none;

}


.yorumisim{
    
    bottom: 10px;
}

.pyorum{
    
    bottom: 20px;
}



/*
.begen{
    z-index: 0;
    position: relative;
    right:500px;
    padding: 0;
    top:10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}

.begenme{
    
    z-index: 0;
    position: relative;
    right: 470px;
    text-decoration: none;
    color: inherit;
    top: 10px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
   

}

.begenp{
    
    margin-top: 5px;
    margin-bottom: 1px; 
    margin-left: 500px;
   
}

.begenp2{
    
    margin-top: 5px;
    margin-bottom: 21px; 
    margin-left: 500px;
   
}



.yanıtla{
    z-index: 0;
    position: relative;
    left: 170px;
    text-decoration: none;
    color: inherit;
    bottom: 11px;
    

}

.duzenle{
    z-index: 0;
    position: relative;
    bottom:145px;
    left: 40px;
    text-decoration: none;
    color: inherit;
}


.sil{
    z-index: 0;
    position: relative;
    bottom:167px;
    left: 150px;
    text-decoration: none;
    color: inherit;
}

.sil2{
    z-index: 0;
    position: relative;
    bottom:145px;
    right: 66px;
    text-decoration: none;
    color: inherit;
}


.duzenle2{
    z-index: 0;
    position: relative;
    bottom:145px;
    left: 40px;
    text-decoration: none;
    color: inherit;
}

.yanıtla2{
    z-index: 0;
    position: relative;
    right: 46px;
    text-decoration: none;
    color: inherit;
    top: 10px;
    


}
*/


.begen{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    top: 10px;
    width: 0px;
   
    }

.link:hover{
    -webkit-transition-duration: 300ms;
    color: rgb(255, 115, 1);
}





.begenme{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    bottom: 10px;
    left: 90px;
    width: 0px;
    height: 3px;
  
  
    
}

.yanıtla{
    z-index: 0;
    position: relative;
    margin:0px;
    bottom: 15px;
    left:690px;
    
    width: 50px;

}

.sil{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    bottom:170px;
    left: 740px;
    width: 50px;
    height: 3px;
  
    

}

.duzenle{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    bottom: 170px;
    left: 660px;
    width: 50px;
    height: 0px;
    

}

.cizgi{
  color:rgb(255, 125, 19);
  height: 3px;
  background-color: rgb(255, 125, 19);
  width: 770px;

  position: relative;
    
  right: 16px;
  top: 5px;
  
  
}


.begen2{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 20   px;
    margin-right: 0px;
    top: 10px;
    width: 0px;
   
    }

.link2:hover{
    -webkit-transition-duration: 300ms;
    color: rgb(255, 115, 1);
}





.begenme2{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    bottom: 28px;
    left: 90px;
    width: 0px;
    height: 3px;
  
  
    
}


.sil2{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    bottom:300px;
    left: 740px;
    width: 50px;
    height: 3px;
  
    

}

.duzenle2{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    bottom: 300px;
    left: 660px;
    width: 50px;
    height: 0px;
    background-color:red;
    

}

/*
.cizgi2{
  color:rgb(255, 125, 19);
  height: 3px;
  background-color: rgb(255, 125, 19);
  width: 770px;
  position: relative;
  z-index: 0;
  right: 16px;
  top: 5px;
  
  
}
*/

.paraf{
    overflow: hidden;
    text-overflow: ellipsis;
    
}



.paraf1{
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin: 0px;
    
    
}



.begen3{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 20   px;
    margin-right: 0px;
    top: 25px;
    width: 0px;
   
    }






.begenme3{
    z-index: 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    bottom: 14px;
    left: 90px;
    width: 0px;
    height: 3px;
  
  
    
}

.cizgipage{
    color:rgb(255, 125, 19);
    height: 3px;
    background-color: rgb(255, 125, 19);
    width: 780px;
    position: relative;
    z-index: 0;
    right: 10px;
    top: 5px;
    
}

.cizgicomment{
    color:rgb(3, 15, 70);
    height: 3px;
    background-color: rgb(3, 15, 70);
    width: 780px;
    position: relative;
    z-index: 0;
    right: 10px;
    top: 20px;
}




